* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#myMonster input[type=text]
{
	border: none !important;
	background: none;
}

#myMonster div
{
	font-weight: bold;
}